
<mat-grid-list cols="3" >
    <mat-grid-tile>
        <form #guestForm="ngForm" (ngSubmit) = "guestOrder()">
            <div class="form-group">
                <label for="fname">First name</label>
                <input type="text" class="form-control" id="fname"
                    required
                    [(ngModel)]="guest.fname" name="fname"
                    #fname="ngModel">
                <div [hidden]="fname.valid || fname.pristine"
                    class="alert alert-danger">
                    First name is required
                </div>
            </div>
        
            <div class="form-group">
                <label for="lname">Last name</label>
                <input type="text" class="form-control" id="lname"
                    required
                    [(ngModel)]="guest.lname" name="lname"
                    #lname="ngModel">
                <div [hidden]="lname.valid || lname.pristine"
                class="alert alert-danger">
                Last name is required
                </div>
            </div>
        
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email"
                    [(ngModel)]="guest.email" name="email"
                    required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    #email="ngModel">
                <div [hidden]="email.valid || email.pristine" 
                class="alert alert-danger">
                Email is required
                </div>
            </div>
            
            <button type="submit" class="btn btn-success not-allowed" [disabled]="!guestForm.form.valid">Submit</button>
        </form>
    </mat-grid-tile>

    <mat-grid-tile>
        <!-- Display Current order -->
        <app-cart></app-cart>
    </mat-grid-tile>

    <mat-grid-tile>
        <div *ngIf="IsOrderSubmitted">
            <div *ngIf="order; else elseBlock">
                Order processed!
                <br>
                Order Number: {{order.orderNumber}}
                <br>
                Confirmation email sent.
            </div>

            <ng-template #elseBlock>
                <mat-spinner></mat-spinner>
            </ng-template>
        </div>

    </mat-grid-tile>
</mat-grid-list>


